@{
    ViewBag.Title = "AboutUs";
}

<body>
    <h1>About Us</h1>
    <section id="company-profile">
        <h2>Company Profile</h2>
        <p>
            2 hours is a Canadian company committed to providing fresh food in 2 hours. We aim to satisfy the needs of busy students, full-time employees
            and locals with an appreciation for the local community.
        </p>
    </section>
    <section id="company-mission">
        <h2>Our Mission</h2>
        <p>
            To provide our customers with a unique service while satisfying their needs.
        </p>
    </section>
    <section id="shop-local">
        <header>
            <h2>Video: Why Shop Local?</h2>
        </header>
        <!--<iframe
                width="640"
                height="360"
                src="https://www.youtube.com/watch?v=w4M0x2z8VSM">
        </iframe> -->
        <iframe width="854" height="480" src="https://www.youtube.com/embed/w4M0x2z8VSM" frameborder="0" allowfullscreen></iframe>
    </section>
    <article id="mailing-list">
        <h2>Sign Up for Our Newsletter</h2>
        <p>Sign up for our newsletter to receive special offers on deals, events and more!</p>
        <form id="mailing-list-sign-up">
            <label>Email:</label>
            <input type="email" id="email" required="required" placeholder="2hours@hotmail.com">
            <input type="submit" name="submit-email" value="Sign Up">
        </form>
    </article>
</body>



