
@{
    ViewBag.Title = "BrowsFood";
}

<input type="text" name="search" placeholder="search">
<input type="submit" value="search">

<body>
<h1> CATEGORIES </h1>
<fieldset>
    <p>
        <img src="~/img/ProductsMain.jpg" alt=" Products " href="FRUIT AND VEGETABLE" width="200" height="150" />
        <img src="~/img/VegetablesMain.jpeg" alt=" Vegetables " width="200" height="150" />
        <img src="~/img/SeafoodMain.jpg" alt=" Seafood " width="200" height="150" />
        <img src="~/img/BakeryMain.jpg" alt=" Bakery " width="200" height="150" />
        <img src="~/img/MeatMain.jpeg" alt=" Meat " width="200" height="150" />
    </p>
</fieldset>
<h2><fruit and vegetable /> FRUIT AND VEGETABLE </h2>
<table>
    <tr>
        <td> <img src="~/img/apple.jpeg" alt=" Apple " width="200" height="150" /> </td>
        <td> <img src="~/img/orange.jpeg" alt=" Orange " width="200" height="150" /> </td>
        <td> <img src="~/img/banana.jpeg" alt=" Banana " width="200" height="150" /> </td>
        <td> <img src="~/img/carrot.jpg" alt=" Carrot " width="200" height="150" /> </td>

    </tr>
    <tr>
        <td> $0.85 1lb  <input type="checkbox" name="apple" id="apple" value="yes"> </td>
        <td> $0.97 1lb  <input type="checkbox" name="orange" id="orange" value="yes"> </td>
        <td> $0.70 1lb  <input type="checkbox" name="banana" id="banana" value="yes"> </td>
        <td> $0.65 1lb  <input type="checkbox" name="carrot" id="carrot" value="yes"> </td>
    </tr>
</table>
<h2>SEAFOOD</h2>
<table>
    <tr>
        <td> <img src="~/img/seafood1.jpeg" alt=" seafood1 " width="200" height="150" /> </td>
        <td> <img src="~/img/seafood2.jpeg" alt=" seafood2 " width="200" height="150" /> </td>
        <td> <img src="~/img/seafood3.jpeg" alt=" seafood3 " width="200" height="150" /> </td>
    </tr>
    <tr>
        <td> $9.98  <input type="checkbox" name="seafood1" id="seafood1" value="yes"> </td>
        <td> $12.68 <input type="checkbox" name="seafood2" id="seafood2" value="yes"> </td>
        <td> $15.99 <input type="checkbox" name="seafood3" id="seafood3" value="yes"> </td>
    </tr>
</table>

<h2>BAKERY</h2>
<table>
    <tr>
        <td> <img src="~/img/bread1.jpeg" alt=" bread1 " width="200" height="150" /> </td>
        <td> <img src="~/img/bread2.jpeg" alt=" bread2" width="200" height="150" /> </td>
        <td> <img src="~/img/bread3.jpeg" alt=" bread3 " width="200" height="150" /> </td>
    </tr>
    <tr>
        <td> $2.68  <input type="checkbox" name="bread1" id="bread1" value="yes"> </td>
        <td> $3.26 <input type="checkbox" name="bread2" id="bread2" value="yes"> </td>
        <td> $3.78 <input type="checkbox" name="bread3" id="bread3" value="yes"> </td>
    </tr>
</table>
<h2>MEAT</h2>
<table>
    <tr>
        <td> <img src="~/img/chicken1.jpeg" alt=" Chicken1 " width="200" height="150" /> </td>
        <td> <img src="~/img/chicken2.jpeg" alt=" Chicken2 " width="200" height="150" /> </td>
        <td> <img src="~/img/meat1.jpeg" alt=" Meat1 " width="200" height="150" /> </td>
        <td> <img src="~/img/meat2.jpeg" alt=" Meat2 " width="200" height="150" /> </td>
    </tr>
    <tr>
        <td> $9.98  <input type="checkbox" name="Chicken1" id="Chicken1" value="yes"> </td>
        <td> $12.68 <input type="checkbox" name="Chicken2" id="Chicken2" value="yes"> </td>
        <td> $15.99 <input type="checkbox" name="Meat1" id="Meat1" value="yes"> </td>
        <td> $15.99 <input type="checkbox" name="Meat2" id="Meat2" value="yes"> </td>
    </tr>
</table>
<h2>DELI</h2>
<table>
    <tr>
        <td> <img src="~/img/deli1.jpeg" alt=" Deli1 " width="200" height="150" /> </td>
        <td> <img src="~/img/deli2.jpeg" alt=" Deli2 " width="200" height="150" /> </td>
    </tr>
    <tr>
        <td> $9.98  <input type="checkbox" name="Deli1" id="Deli1" value="yes"> </td>
        <td> $12.68 <input type="checkbox" name="Deli2" id="Deli2" value="yes"> </td>
    </tr>
</table>
<h2><p> <a href="ShoppingCart.html"> Add to Card </a> </p></h2>
</body>
<footer>
    <a href="AboutUs.html">About Us</a>  |
    <a href="Location.html">Find a Location</a> |
    <a href="Contact.html">Contact Us</a>|
    <a href="FAQ.html">FAQ</a>

    <p>&copy; 2015 <span class="company-name">2-hours.com</span></p>
</footer>
