@{
    ViewBag.Title = "Cart";
}

<body>
    <div><p><img src="~/img/images.png" alt="photo of shopping cart" /> </p></div>
    <a href="SignUp.html">Login </a>
    <p>Please check our <a href="faq.html">FAQ SECTION </a>to find an immediate answer:</p>
    <h1>Shopping cart</h1>
    <hr>
    <p><img src="~/img/celery.jpg" alt="photo of celery" width="50" height="50" /> </p><p>Price:  $2</p><p>Quantity : 2lb</p>
    <hr>
    <p><img src="~/img/carrot1.jpg" alt="photo of carrots" width="50" height="50" /> </p><p>Price:  $2.65</p><p>Quantity : llb</p>
    <hr>
    <p><img src="~/img/onion.jpg" alt="photo of onions" width="50" height="50" /> </p><p>Price:  $1.46</p><p>Quantity : 3lb</p>
    <hr>
    <p><img src="~/img/apples.jpg" alt="photo of apple" width="50" height="50" /> </p><p>Price:  $5.75</p><p>Quantity : 5lb</p>
    <hr>
    <p><img src="~/img/strawberry.jpg" alt="photo of strawberry" width="50" height="50" /> </p><p>Price:  $4.95</p><p>Quantity : 4lb</p>
    <hr>
    <p>Subtotal(5 items): $16.81</p>

    <form action="payment.html" method="get">
        <button name="subject" type="submit" value="Submit">Checkout</button>
    </form>
</body>


