@{
    ViewBag.Title = "Index";
}
    <div id="content">
        <a href="browsfood.html">Start Your Grocery Shopping</a>
    </div>
    <div class="col-sm-4">
        <p>bla bla</p>
    </div>
    <div class="col-sm-4">
        <p>hey hey</p>
    </div>
    <div class="col-sm-4">
        <p>ho ho</p>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <p>hey</p>
        </div>
        <div class="col-sm-4">
            <p>bye bye</p>
        </div>
    </div>
