@{
    ViewBag.Title = "Index";
}
<div class="main-page-container">
    <div class="col-sm-4">
        <img src="~/img/cart.png" width="200" height="200"/>
        @Html.ActionLink("Start Your Grocery Shopping", "BrowsFood")
    </div>
    <div class="col-sm-4">
        <img src="~/img/2hours_logo.JPG" width="200" height="200" />
        @Html.ActionLink("Learn more about us", "AboutUs")
    </div>
    <div class="col-sm-4">
        <img src="~/img/login.png" width="200" height="200" />
        @Html.ActionLink("Sign Up", "Login")
    </div>
</div>
