@{
    ViewBag.Title = "Index";
}


<body>
    <div id="content">
        <h2>No enough time for grocery shopping....we've got your back!</h2>
        <img src="~/img/Ecologically_grown_vegetables.jpg" alt="food" width="600" height="500">
    </div>

    <a href="browsfood.html">Start Your Grocery Shopping</a>
</body>
