@{
    ViewBag.Title = "Location";
}

<body>
    <section id="location">
        <h2>Where To Find Us:</h2>
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=zx691hFWJ62M.kThU-F4RzUMg" width="440" height="480"></iframe>
    </section>

    <p>Click <a href="https://www.google.ca/maps/dir///49.315686,-123.070385,14z/data=!4m2!4m1!3e0?hl=en">here</a> for directions.</p>
</body>


