body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    background-image: url('../img/VegetablesMain.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    height:500px;
    background-position-y: -255px;

}

header h1 {
    margin: 0;
    color: white;
    text-align:center;
    padding-top: 194px;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    color: white;
    text-align:center;
    padding-top: 17px;
    font-size: 2em;
}

.navbar-inverse {
    border-radius:0;
    background-color: rgba(65, 121, 11, 0.95);
    border: #5f8000;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

body {
    padding-top: 0;
    padding-bottom: 0;

}

.main-page-container .col-sm-4 {
    background: white;
    border: 1px dashed black;
    padding: 20px;
    min-height: 500px;
}

footer {
    background-color: rgba(65, 121, 11, 0.95);;
    color: #fff;
    text-align: center;
    clear: both;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    margin: 0;
    padding-top: 10px;
    font-size:0.9em;
}

footer>a {
    color: white;
    padding: 10px 15px;

}

@media only screen and (max-width: 955px) {
    header {
        background-position-y: 0;
    }
}